<h2>Week {{week}}</h2>

<table>
  <tr>

    <th>Most Popular Product</th>
    <th>Least Popular Product</th>
    <th>Most Popular Category</th>
    <th>Least Popular Category</th>
    <th>Most Profitable Product</th>
    <th>Most Profitable Category</th>


  </tr>

  <tr>
{{#mostPopularProduct}}

    <td>{{description}}</td>

{{/mostPopularProduct}}

{{#leastPopularProduct}}
<td>{{description}}</td>
 {{/leastPopularProduct}}

 {{#mostPopularCategory}}
 <td>{{description}}</td>
 {{/mostPopularCategory}}

 {{#leastPopularCategory}}
 <td>{{description}}</td>
 {{/leastPopularCategory}}

 {{#mostProfitableProduct}}
<td>{{description}} from {{shop}}</td>
 {{/mostProfitableProduct}}

{{#mostProfitableCategory}}
<td>{{description}}</td>
{{/mostProfitableCategory}}
</tr>

</table>
<div style="padding-top: 40px; padding-left:410px">
  <a class="btn btn-link-outline" href="/summary" role="button">Back</a>
</div>
