<h1>Add purchase</h1>

<form action="/purchases/add" method="POST">
	<div class="">
		<label for="">Product</label>

		<select class="" name="product_id">
			{{#products}}
				<option value="{{id}}">{{description}}</option>
			{{/products}}
		</select>
	</div>

	<!-- <div>
		<label for="">Description</label>
		<input type="text" name="description" value="{{description}}">
	</div> -->

	<div>
		<label for="">Quantity</label>
		<input type="number" step="any" name="quantity" value="{{quantity}}">
	</div>

	<div>
		<label for="">Cost</label>
		<input type="number" step="any" name="cost" value="{{cost}}">
	</div>

	<div>
		<label for="">Shop</label>
		<input type="text" step="any" name="shop" value="{{shop}}">
	</div>

	<input type="submit">
</form>
