<h1>Edit purchase</h1>

<form action="/purchases/update/{{data.id}}" method="POST">
	<div class="">
		<label for="">Product</label>
		<select class="" name="product_id">
			{{#products}}
				<option {{selected}} value="{{id}}">{{description}}</option>
			{{/products}}
		</select>
	</div>
	<!-- <div class="">
		<label for="">Description</label>
		<input type="text" name="description" value="{{data.description}}">
	</div> -->
	<div class="field">
		<label for="quantity">Quantity</label>
		<input type="text" name="quantity" value="{{data.quantity}}">
	</div>

	<div>
		<label for="">Cost</label>
		<input type="number" step="any" name="cost" value="{{data.cost}}">
	</div>

	<div>
		<label for="">Shop</label>
		<input type="text" step="any" name="shop" value="{{data.shop}}">
	</div>
	<div>
		<label for="">Date</label>
		<input type="text" step="any" name="date" value="{{data.date}}">
	</div>

	<input type="submit">
</form>
