<h1>Edit sale</h1>

<form action="/sales/update/{{data.id}}" method="POST">
	<div class="">
		<label for="">Product</label>
		<select class="" name="product_id">
			{{#products}}
				<option {{selected}} value="{{id}}">{{description}}</option>
			{{/products}}
		</select>
	</div>
	<!-- <div class="">
		<label for="">Description</label>
		<input type="text" name="description" value="{{data.description}}">
	</div> -->
	<div class="field">
		<label for="quantity">Quantity</label>
		<input type="number" name="quantity" value="{{data.quantity}}">
	</div>

	<div>
		<label for="">Week</label>
		<input type="number" step="any" name="week" value="{{data.week}}">
	</div>

	<div>
		<label for="">Date</label>
		<input type="text" step="any" name="date" value="{{data.date}}">
	</div>

	<div>
		<label for="">Day</label>
		<input type="text" step="any" name="day" value="{{data.day}">
	</div>

	<input type="submit">
</form>
