<h1>Purchases</h1>
<a href="/purchases/add">Add</a>
<!-- <h2>{{name}}</h2> -->
<table style="padding: 3px;">
  <tr>
    <th style="padding: 3px;">Product</th>
    <th style="padding: 3px;">Quantity</th>
    <th style="padding: 3px;">Cost</th>
    <th style="padding: 3px;">Shop</th>

  </tr>
</table>
{{#purchases}}
  <!-- <h2>{{description}}</h2>
  <a href="/purchases/edit/{{id}}">Edit</a>
  <a href="/purchases/delete/{{id}}">Delete</a> -->

  <table style="padding: 3px;">


    <tr>
      <td style="padding: 3px;">{{description}}</td>
      <td style="padding: 3px;">{{quantity}}</td>
      <td style="padding: 3px;">{{cost}}</td>
      <td style="padding: 3px;">{{shop}}</td>
      <td style="padding: 3px;"><a href="/purchases/edit/{{id}}">Edit</a></td>
      <td style="padding: 3px;"><a href="/purchases/delete/{{id}}">Delete</a></td>
    </tr>


  </table>
{{/purchases}}

{{#no_products}}
  <p>No products available yet. Add some above.</p>
{{/no_products}}
