<table>
  <tr>

    <th>Product_id</th>
    <th>Total</th>
    <!-- <th>Most Popular Product</th>
    <th>Least Popular Category</th>
    <th>Most Popular Category</th>
    <th>Most Profitable Product</th>
    <th>Most Profitable Category</th> -->

  </tr>
{{#results}}
  <tr>
    <td>{{product_id}}</td>
    <td>{{total}}</td>
    <!-- <td>{{week}}</td>  -->
    <!-- <td>{{most_popular_product}}</td>
    <td>{{least_popular_category}}</td>
    <td>{{most_popular_category}}</td>
    <td>{{most_profitable_product}}</td>
    <td>{{most_profitable_category}}</td> -->
  </tr>
{{/results}}
</table>
